package handler

// {{ .ServiceName }}Handler handles HTTP requests
type {{ .ServiceName }}Handler struct {
	usecase *{{ .ServiceName }}Usecase
}

func New{{ .ServiceName }}Handler(u *{{ .ServiceName }}Usecase) *{{ .ServiceName }}Handler {
	return &{{ .ServiceName }}Handler{
		usecase: u,
	}
}

// TODO
