package {{ .ServiceNameLower }}

// {{ .ServiceName }}Repository handles data access
type {{ .ServiceName }}Repository struct {
}

func New{{ .ServiceName }}Repository() *{{ .ServiceName }}Repository {
	return &{{ .ServiceName }}Repository{}
}
