package {{ .ServiceNameLower }}

// {{ .ServiceName }}Usecase handles HTTP requests
type {{ .ServiceNameLower }}Usecase struct {
	// TODO
}

func New{{ .ServiceName }}Usecase() {{ .ServiceName }}Usecase {
	return &{{ .ServiceNameLower }}Usecase{}
}

func (t *{{ .ServiceNameLower }}Usecase) DoSomething() error {
	return nil
}
