package bootstrap

import (
	"log"
	"gorm.io/gorm"
	database "{{ .ModuleName }}/internal/infrastructure/databases"
)

type Dependencies struct {
	DB *gorm.DB
}

func InitDependencies() *Dependencies {

    db, err := database.ConnectDB()

	if err != nil {
		log.Fatal("Failed to connect to database:", err)
	}

	// Repositories

	// Usecases

	// Handlers

	return &Dependencies{
		DB: db,
	}
}
