package {{ .ServiceNameLower }}

// {{ .ServiceName }}Repository handles data access
type {{ .ServiceNameLower }}Repository struct {
}

func New{{ .ServiceName }}Repository() {{ .ServiceName }}Repository {
	return &{{ .ServiceNameLower }}Repository{}
}

func (r *{{ .ServiceNameLower }}Repository) DoSomething() error {
	return nil
}
