package {{ .ServiceNameLower }}

import(
	"{{ .ModuleName }}/internal/infrastructure/repositories"
)

// {{ .ServiceName }}Usecase handles HTTP requests
type {{ .ServiceNameLower }}Usecase struct {
	{{ .ServiceNameLower }}Repository repositories.{{ .ServiceName }}Repository
}

func New{{ .ServiceName }}Usecase(
	repo repositories.{{ .ServiceName }}Repository,
) {{ .ServiceName }}Usecase {
	return &{{ .ServiceNameLower }}Usecase{
		{{ .ServiceNameLower }}Repository: repo,
	}
}

func (t *{{ .ServiceNameLower }}Usecase) DoSomething() error {
	return nil
}
